*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebeced;
}

.container {
    margin-top: 90px;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.img-container {
  padding-left: 70px;
}

.side-nav .userView .circle {
  width: 100px;
  height: 100px;
}

.login-form-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.prefix{
    top: 6px;
}

.btn-summit {
    width: 100%;
}

.card {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}